# Ignore virtual environment folders
env/
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables / secrets
.env

# VS Code settings (optional)
.vscode/

# OS files
.DS_Store
Thumbs.db
